/* Auth */
.auth-container {
  /* background-image: url("./images/Web\ 1920\ –\ 3.png"); */
  background-image: url("../images/Web\ 1920\ –\ 3.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-container_enter {
  /* display: flex;
    justify-content: center;
    align-self: center; */
}

.btn_main {
  font-family: "Bangers";
  padding: 10px 24px;
  margin: 1em 0;
  font-size: 24px;
  background: linear-gradient(
    90deg,
    rgba(214, 141, 89, 1) 0%,
    rgba(236, 99, 119, 1) 46%,
    rgba(236, 99, 119, 1) 85%
  );
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 0px 0px 17px -5px rgba(0, 0, 0, 0.92);
}

.auth-container_auth {
  width: 1000px;
  margin: 12px 24px;
}

/* Auth Form */
.form-container {
  width: 500px;
  /* max-width: 400px; */
  margin: auto;
}

.form-container input {
  padding: 1.1em 1em !important;
}

.auth_form-login {
  background-color: rgb(59 31 108);
  border: none;
  border-radius: 12px;
  padding: 24px 48px;
  box-shadow: 0px 0px 15px -4px rgb(0 0 0 / 70%);
}

.auth-form-btns {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.auth-form-btns p {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.auth-form-btns button:not(:last-child) {
  margin-right: 12px;
}

.auth-input input {
  background: #2e145b !important;
  border-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.87) !important;
  box-shadow: none;
}

.auth-input input::selection {
  background-color: #fb7182;
}

.auth-input input::placeholder {
  color: rgba(236, 236, 236, 0.486) !important;
}

.auth-input input:focus {
  border-color: rgba(235, 235, 235, 0.637) !important;
}

.auth_form-register {
  background-color: rgb(59 31 108);
  border: none;
  border-radius: 12px;
  padding: 24px 48px;
  box-shadow: 0px 0px 15px -4px rgb(0 0 0 / 70%);
}

.auth-textarea textarea {
  background: #2e145b !important;
  border-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.87) !important;
  box-shadow: none;
  resize: none !important;
}

.auth-textarea textarea::selection {
  background-color: #fb7182;
}

.auth-textarea textarea::placeholder {
  color: rgba(236, 236, 236, 0.486) !important;
}

.auth-textarea textarea:focus {
  border-color: rgba(235, 235, 235, 0.637) !important;
}

.btn_gen-avatar {
  font-family: "Bangers";
  padding: 10px 24px;
  margin: 1em 0;
  font-size: 30px;
  background: linear-gradient(
    90deg,
    rgba(114, 19, 238, 1) 0%,
    rgba(19, 76, 217, 1) 100%
  );
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.92);
}

.account-preview {
  padding: 16px !important;
  background: rgb(59 31 108) !important;
  border: none !important;
  border-color: none !important;
  border-radius: 12px !important;
  padding: 24px 48px;
  box-shadow: 0px 0px 15px -4px rgb(0 0 0 / 70%) !important;
  max-width: 300px !important;
  overflow-wrap: break-word !important;
}

.account-preview_content-header {
  color: white !important;
  font-family: "Bangers";
  font-size: 36px;
  margin: 20px 0;
}

.account-preview_content-meta {
  color: rgba(201, 201, 201, 0.747) !important;
  font-size: 36px;
  margin: 8px 0;
}

.account-preview_content-bio {
  font-size: 16px;
  color: white;
  overflow-wrap: break-word;
}
/* End of Auth */

.btn_enter-app {
  font-family: "Bangers";
  padding: 10px 24px;
  margin: 1em 0;
  font-size: 48px;
  background: linear-gradient(
    90deg,
    rgba(214, 141, 89, 1) 0%,
    rgba(236, 99, 119, 1) 46%,
    rgba(236, 99, 119, 1) 85%
  );
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 0px 0px 17px -5px rgba(0, 0, 0, 0.92);
}

.reveal-creds-container {
  display: flex;
  margin-bottom: 8px !important;
  padding-right: 12px;
}

.reveal-creds-container button {
  color: rgba(255, 255, 255, 0.418);
  text-decoration: underline;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
