/* Home */
.home-container {
  position: relative;
}

.home-grid {
  margin-top: 1rem !important;
}

.point-modal {
  margin: 0 auto;
  text-align: center;
  z-index: 99;
  position: absolute;
  left: 50%;
  top: 20%;
}

/* Start of student cards */
.point-totals {
  display: flex;
  justify-content: space-around;
}

.student-card {
  padding: 16px !important;
  background: rgb(59 31 108) !important;
  border: none !important;
  border-color: none !important;
  border-radius: 12px !important;
  padding: 24px 48px;
  box-shadow: 0px 0px 15px -4px rgb(0 0 0 / 70%) !important;
}

.student-card_header {
  color: white !important;
  font-family: "Bangers" !important;
  font-size: 36px !important;
  margin-top: 20px;
}

.student-card_meta {
  color: rgba(201, 201, 201, 0.747) !important;
  font-size: 16px !important;
  margin: 8px 0;
}

.student-card_bio {
  font-size: 16px;
  color: white;
}

.student-card_score {
  color: white !important;
  background-color: #6a40df !important;
  padding: 8px 0 0 0 !important;
  margin-top: 16px !important;
}
/* End of student cards */

.ui.card,
.ui.cards.modal_feedback-cards > .card {
  width: auto !important;
}
/* Start of Modal */

.modal_feedback-cards {
  margin-top: 24px !important;
}

.modal_feedback-type-btns > .button {
  margin-left: 0 !important;
}

.modal-header {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  /* background: var(--secondary) !important;
  color: white !important;
  border-bottom: 1px solid rgb(255, 255, 255) !important; */
}
/*
.modal-content {
  background: var(--secondary) !important;
  color: white !important;
}

.modal-bottom {
  background: var(--secondary) !important;
  color: white !important;
} */

/* Student View */
.display-card {
  width: 160px !important;
}

.trophy-list {
  display: flex !important;
  flex-direction: column;
  justify-content: center !important;
  align-items: flex-start;
}

.trophy-label {
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
}

/* End of Modal */
